<div class="list-item" [routerLink]="['/details', location.name]">
    <div *ngIf="!currentLocation; else currentLocationLabel" class="list-item--location">{{location.name}}</div>
    <ng-template #currentLocationLabel>
        <div class="list-item--location">Current location</div>
    </ng-template>
    <div *ngIf="tempUnit === UnitTypes.metric ; else imperialTemp" class="list-item--temp">{{location.temp}} {{tempUnit.value}}</div>
    <ng-template #imperialTemp>
        <div class="list-item--temp imperial-temp">{{location.temp_imp}} {{tempUnit.value}}</div>
    </ng-template>
    <img class="list-item--icon" alt="{{location.weather}}" src="assets/{{icon}}.svg">
</div>