<h1>Dashboard</h1>

<!-- <div *ngIf="currentLat && currentLon; else locationNotDetected"></div> -->

<ng-template #locationNotDetected>
    <div i18n>Detecting location...</div>
</ng-template>

<ul>
    <li *ngIf="currentLocationWeather; else loading" class="current-location-list-item">
        <wf-location-list-item [locationName]=currentLocationWeather.name [currentTemp]=currentLocationWeather.temp [tempUnit]=this.tempUnit></wf-location-list-item>
    </li>
    <ng-template #loading>
        <li class="current-location-loading">Loading current weather</li>
    </ng-template>
    <li *ngFor="let location of locationsList" class="default-location-list-item">
        <wf-location-list-item [locationName]=location.name [currentTemp]=location.temp [tempUnit]=this.tempUnit></wf-location-list-item>
    </li>
</ul>

<div>
    <button class="metric-btn" (click)=setUnitsToDisplay(UnitsType.METRIC) i18n>metric</button>
    <button class="imperial-btn" (click)=setUnitsToDisplay(UnitsType.IMPERIAL) i18n>imperial</button>
</div>