<h1>Dashboard</h1>

<ul class="location-list">
    <li class="current-location-list-item">
        <wf-location-list-item *ngIf="currentLocationWeather; else loading"
        [tempUnit]=this.tempUnit 
        [icon]=currentLocationWeather.icon
        [weather]=currentLocationWeather.weather
        [location]=currentLocationWeather
        [currentLocation]=true></wf-location-list-item>
        <ng-template #loading>
            <div class="loading-msg" *ngIf="!locationError; else locationErrorMessage"><span>Loading current weather</span><img class="eye-icon" alt="eye icon" src="assets/eye.svg"></div>
            <ng-template #locationErrorMessage>
                <div class="error-msg"><span>{{locationError}}</span><img class="eye-icon" alt="eye icon" src="assets/eye.svg"></div>
            </ng-template></ng-template>
    </li>

    <li *ngFor="let location of locationsList" class="default-location-list-item">
        <wf-location-list-item 
        [tempUnit]=this.tempUnit
        [icon]=location.icon
        [weather]=location.weather
        [location]=location
        [currentLocation]=false></wf-location-list-item>
    </li>
</ul>

<div class="btn-container">
    <button class="metric-btn" [ngClass]="{'active': tempUnit === UnitTypes.metric}" (click)=setUnitsToDisplay(UnitTypes.metric) i18n>metric</button>
    <button class="imperial-btn" [ngClass]="{'active': tempUnit === UnitTypes.imperial}" (click)=setUnitsToDisplay(UnitTypes.imperial) i18n>imperial</button>
</div>